.a4b-output {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.a4b-output-grid {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
}

.a4b-text {
  min-height: 50px;
  height: 400px;
  width: 80%;
  border-radius: 15px;
  padding: 15px;
  margin-left: 25px;
  font-size: 1.3rem;
  color: #363636;
}

.a4b-transliterate-text {
  width: calc(100vw - 100px);
  height: 25vh;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.3rem;
  color: #363636;
}

.a4b-output-text {
  height: 30vh;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.3rem;
  color: #363636;
}

.a4b-transliterate-container {
  height: auto;
  width: 100%;
}

.a4b-mic {
  height: 80px;
  width: 80px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f06b42;
  margin: 5px;
}

.a4b-mic-recording {
  height: 80px;
  width: 80px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f06b42;
  margin: 5px;
  animation: ease pulse 2s infinite;
}

.a4b-mic-logo {
  height: 50px;
  width: 50px;
  position: absolute;
}

.common-options {
  justify-content: center;
  align-items: center;
}

.a4b-option {
  margin: 10px;
  font-size: 1.25rem;
  color: #4a4a4a;
}

.a4b-interface {
  margin: 20px;
  height: auto;
}

.asr-button {
  background-color: #f06b42;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  margin: 5px;
}

.a4b-option-select {
  height: 2.5em;
  margin: 5px;
  border-radius: 1.5em;
  border-color: #dbdbdb;
  border-width: 1px;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
}

.orange-color {
  color: #f06b42;
}

.title-section {
  position: relative;
}

.title {
  font-size: 3rem;
}

.subtitle {
  position: relative;
  font-size: 1.5rem;
}

.nav {
  height: 3.5rem;
  width: auto;
  background-color: #f06b42;
  align-items: center;
  justify-items: center;
  display: flex;
}

.hr-split {
  height: 2px;
  background-color: #f5f5f5;
  margin: 10px;
  border: none;
}

.audio-file-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.a4b-file-upload-name {
  background-color: #f5f5f5;
  border-width: 1px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

@keyframes pulse {
  0% {
    background-color: #f06b42;
  }

  50% {
    background-color: #f7c7ba;
  }

  100% {
    background-color: #f06b42;
  }
}

.documentation-container {
  display: block;
  background-color: #f5f5f5;
  width: auto;
  height: auto;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-top: 3%;
}

.documentation-title {
  color: #363636;
}

.a4b-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 100%;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.a4b-box1 {
  display: flex;
  align-items: center;
  background-color: white;
  height: auto;
  width: 90%;
}

.a4b-box2 {
  display: block;
  width: 100%;
  height: 100px;
}

.text-15 {
  font-size: 1.5rem;
  color: #4a4a4a;
}

.text-13 {
  font-size: 1.3rem;
  color: #4a4a4a;
}

.api-link {
  margin: 5px;
  color: #485fc7;
}

.api-step-text {
  font-size: 1.25rem;
  color: #4a4a4a;
  font-weight: 400;
  text-align: justify;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: #f5f5f5;
  color: #4a4a4a;
  font-size: 1.25em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
  text-align: left;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #4a4a4a;
}

.nav-menu {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f06b42;
  border: 2px solid #ffffff;
  border-radius: 15px;
  margin: 0.5%;
  display: table-cell;
  justify-content: center;
  justify-items: center;
}

.nav-menu-logo {
  color: #ffffff;
}

.a4b-container {
  display: block;
  min-height: 80vh;
  height: auto;
  width: 100%;
  background-color: #ffffff;
}

.a4b-page-container {
  height: auto;
  display: block;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: relative;
}

pre {
  border-radius: 15px;
  width: 90%;
}

.a4b-snippet-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.a4b-copy-container {
  display: block;
  height: 50px;
  width: 50px;
  margin: 30px;
}

.a4b-home-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 10px));
  height: auto;
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  position: relative;
}

.a4b-home-card {
  margin: 10px;
  width: 350px;
  height: 400px;
}

.a4b-home-card-logo-container {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
}

.a4b-home-card-logo {
  color: #f06b42;
  margin: 1rem;
}

.a4b-home-card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.a4b-home-card-actions {
  background-color: #f06b42;
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 10px;
}

.a4b-home-card-action {
  height: 100%;
  width: 50%;
  background-color: #dbdbdb;
}

.a4b-logo {
  margin-right: 10px;
}

.a4b-nmt-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.a4b-asr-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.a4b-tts-convert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  height: auto;
  width: 100%;
  background-color: #dbdbdb;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  padding-bottom: 20px;
}

.footer-about-container {
  height: auto;
  background-color: #dbdbdb;
  grid-area: "about";
  text-align: left;
  margin-left: 20px;
}

.footer-title {
  font-size: 1.5rem;
  color: #4a4a4a;
}

.footer-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-about-content {
  text-align: left;
  width: 400px;
  font-size: 1rem;
}

.footer-contact-container {
  height: auto;
  background-color: #dbdbdb;
  grid-area: "about";
  margin-left: 20px;
}

.footer-contact-content {
  display: flex;
  flex-direction: column;
}

.footer-contact-row {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  margin-bottom: 15px;
}

.footer-contact-logo {
  color: #f06b42;
}

.footer-contact-row-text {
  margin-left: 10px;
  font-size: 1rem;
  color: #4a4a4a;
  text-decoration: none;
}

.tts-sample-table {
  width: 100%;
}

th,
td {
  padding: 10px;
  border-radius: 50px;
}

.tts-sample-head {
  background-color: #f06b42;
}

.tts-sample-table-container {
  overflow-x: scroll;
}
